.match-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .homeTeam {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }
  .awayTeam {
    background-color: #74a3d8;
    padding: 20px;
    border-radius: 5px;
  }
  
  .player-stats {
    margin-bottom: 15px;
  }
  
  .loading,
  .error {
    margin: 20px;
  }
  